src/main/mule/hello-wrold.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="b1b78315-e7b1-43ed-a624-9a3d0ea84f69" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="hello-wroldFlow" doc:id="98994d2e-e283-47bb-9a68-bea9210a2779" >
		<http:listener doc:name="8081/helloWorld" doc:id="ccf9d8bc-bf49-4d09-8b19-613d2084f3bf" config-ref="HTTP_Listener_config" path="/helloWorld"/>
		<set-payload value='#[output application/json 
---
{"message":"Hi, How are you"}]' doc:name="Set Payload" doc:id="cad4c40f-5c54-40d8-a1da-f6e52a4bdf84" />
	</flow>
</mule>
